.landing-page {
  height: 100vh;
  position: relative;
  background: url('./aptBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  h1 {
    margin: 1.5rem;
    font-size: 7rem;
    color: #fff;
    text-shadow: 11px 10px 32px -15px rgba(0, 0, 0, 0.66);
  }

  button {
    padding: 1rem 2.5rem;
    color: #fff;
    border-radius: 10px;

    font-size: 1.5rem;
    border: none;
    cursor: pointer;

    -webkit-box-shadow: 11px 10px 32px -15px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 11px 10px 32px -15px rgba(0, 0, 0, 0.66);
    box-shadow: 11px 10px 32px -15px rgba(0, 0, 0, 0.66);

    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.2s;
    }
  }
}
