.my-profile {
  display: flex;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% - 20rem);
  }

  .basic-info {
    display: flex;
    width: 90%;
    margin-top: 3rem;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 30px;
    text-align: left;

    h2 {
      margin-top: 0;
    }
  }

  .profile-interests {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    grid-gap: 15px;
    margin-top: 5rem;
    padding: 2rem;

    border-radius: 10px;
    color: #fff;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-box-shadow: 11px 10px 36px -12px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 11px 10px 36px -12px rgba(0, 0, 0, 0.66);
    box-shadow: 11px 10px 36px -12px rgba(0, 0, 0, 0.66);
  }

  label {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
}
